* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:
    "Inter",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}
body {
  background-color: #f5f7fb;
  color: #1f2937;
  display: flex;
  min-height: 100vh;
}

/* ------sidebar----- */

.sidebar-div {
  width: 260px;
  background: #ffffff;
  border-right: 1px solid #e5e7eb;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
}
.sidebar-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 20px;
}
.sidebar-logo {
  font-size: 22px;
  font-weight: 700;
  color: #2563eb;
  margin-bottom: 30px;
}
.sidebar-menu-div {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.dash-btn {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 5px;
  border-radius: 8px;
  text-decoration: none;
  color: #374151;
  font-weight: 500;
  transition: 0.2s ease;
}
.dash-btn i {
  width: 18px;
}
.dash-btn a {
  text-decoration: none;
  width: 100%;
  padding: 8px 6px;
  color: #1e1c1c;
  font-size: 15px;
}
.dash-btn span {
  margin-left: 5px;
}
.dash-btn:hover {
  background-color: #eff6ff;
  color: #2563eb;
}
.dash-btn.active {
  background-color: #2563eb;
  color: #ffffff;
}
.logout-div {
  margin-top: auto;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 14px;
  border-radius: 8px;
  color: #ef4444;
  cursor: pointer;
}

/* --- Dashboard ---- */

main {
  padding: 30px;
  margin-left: 260px;
  width: 100%;
}
.dashboard-container {
  margin: auto;
  padding: 20px;
}
.dashboard-header {
  margin-bottom: 15px;
}
.dashboard-header h3 {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 5px;
}
h1.title {
  margin-bottom: 10px;
}
.dashboard-header p {
  font-size: 15px;
  color: #6b7280;
}

section.dashboard-status-div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 20px;
  margin-bottom: 40px;
}
.stat-card {
  font-size: 14px;
  border: 1px solid #c8c8c8;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  color: #6b7280;
  background: white;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.05);
}
.growth {
  font-size: 13px;
  font-weight: 500;
}

.growth.positive {
  color: #16a34a;
}

.stat-card-icon {
  width: 44px;
  height: 44px;
  background-color: #e6effb;
  color: #2563eb;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
h3.value {
  padding: 8px 5px;
}
/*. Table Tracker.   */

section.dashboard-tracker-div {
  background: white;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.05);
}
.tracker-header {
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tracker-header h4 {
  font-size: 18px;
  font-weight: 600;
}
.tracker-header p {
  font-size: 14px;
  color: #6b7280;
}
table.tracker-table {
  width: 100%;
  border-collapse: collapse;
}

table.tracker-table thead {
  background-color: #f9fafb;
}

table.tracker-table th {
  font-size: 14px;
  padding: 12px;
  text-align: left;
  color: #374151;
}

table.tracker-table td {
  font-size: 14px;
  padding: 14px;
  border: 1px solid #f6f6f6;
}
a.view-jobs-btn {
  color: #2762ea;
  text-decoration: none;
  background: #e8f0fbed;
  padding: 5px 8px;
  border-radius: 20px;
}
.icon-btn {
  background: none;
  border: none;
  font-size: 18px;
  color: #ef4444;
}
/*  ------- saved jobs--- */

.dashboard-card {
  max-width: 400px;
  padding: 22px 20px;
  border: 1px solid #e5e7eb;
  border-radius: 10px;
  background: white;
  box-shadow: -3px 6px 17px 1px rgba(0, 0, 0, 0.05);
}

.card-header {
  display: flex;
  justify-content: left;
  margin-bottom: 15px;
  gap: 20px;
}

.card-avatar {
  width: 45px;
  height: 45px;
  color: #2a68ef;
  border-radius: 9px;
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e6effb;
  font-weight: 500;
}

h3.card-title {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 5px;
}

p.card-subtitle {
  font-size: 14px;
  margin-bottom: 10px;
  color: #888888;
}

.card-info {
  font-size: 12px;
  gap: 20px;
  display: flex;
  margin-bottom: 15px;
  color: #6b7280;
}

.card-actions {
  display: flex;
  justify-content: space-around;
}
a.action-btn {
  text-decoration: none;
  padding: 8px 15px;
  border: 1px solid #cfcfcf;
  border-radius: 5px;
  font-size: 13px;
  width: 45%;
  text-align: center;
}
a.btn-primary.action-btn {
  background: #2a68ef;
  color: white;
}

a.btn-secondary.action-btn {
  background: whitesmoke;
  color: black;
}

.card-info i {
  color: #2563eb;
}
.saved-job-header {
  /* position: relative; */
  justify-content: space-between;
}
i.saved-job-bookmark {
  color: #2762ea;
  font-size: 20px;
  /* position: absolute; */
  right: 0;
  top: 0;
}
button.remove-save-btn {
  background: none;
  border: none;
}

.dashboard-card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 340px);
  gap: 20px;
}
/*------Manage Jobs ------*/

section.dashboard-tracker-div {
  background: white;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.05);
  margin-bottom: 15px;
}
span.status {
  background: #b8e0b8db;
  padding: 4px 7px;
  color: #19b519;
  font-size: 13px;
  border-radius: 13px;
}

/*.     POST JOB        */
section.form-section {
  margin-top: 30px;
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.05);
  width: 100%;
}
h3.section-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
}

.form-field input {
  padding: 9px 14px;
  border-radius: 8px;
  border: 1px solid #e2e8f0;
  width: 100%;
  outline: none;
}
.form-field select {
  width: 100%;
  padding: 12px 14px;
  font-size: 14px;
  color: #333;
  background-color: #fff;
  border: 1px solid #d0d5dd;
  border-radius: 8px;
  outline: none;
}

.form-field textarea {
  padding: 9px 14px;
  border-radius: 8px;
  border: 1px solid #e2e8f0;
  width: 100%;
  height: 100px;
  resize: vertical;
  max-height: 120px;
}
.form-row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 12px;
}

.form-field {
  width: 100%;
}
label.form-label {
  margin-bottom: 4px;
  display: block;
  font-size: 14px;
}
button.action-btn {
  padding: 8px 16px;
  border: 1px solid #cfcfcf;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 6px;
  margin-right: 5px;
  font-size: 13px;
}
.form-actions {
  text-align: right;
  margin: 25px 0;
}

button.action-btn.publish-job {
  color: white;
  background: #3a68ef;
}

button.action-btn.save-draft {
  background: white;
  color: #353535;
}
.form-field.skills-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.form-field.skills-wrapper input {
  width: 85%;
}

button.add-skills-btn {
  background: #2563eb;
  text-align: center;
  padding: 2px 11px;
  border-radius: 8px;
  border: 1px solid #e0e0e0;
  color: white;
  font-size: 11px;
}
/*.      User Profile    */
.profile-img-wrapper {
  width: 150px;
  margin: 30px auto 15px;
  position: relative;
  align-items: center;
}

.profile-img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background: #e1e7ff;
  align-items: center;
  font-size: 40px;
  font-weight: 600;
  color: #2762ea;
  display: flex;
  justify-content: center;
  margin-bottom: 6px;
}
img.uploaded-img {
  width: 100%;
  border-radius: 100%;
}

button.profile-img-btn {
  position: absolute;
  bottom: 29px;
  right: 2px;
  border: none;
  width: 34px;
  height: 34px;
  color: white;
  font-size: 25px;
  background: #2761e9;
  border-radius: 50%;
}
.section-part {
  display: flex;
  justify-content: start;
  gap: 30px;
}

section.form-section.profile-photo {
  width: 70%;
}
.section-part p {
  text-align: center;
  font-size: 14px;
}
/* Settings. */
button.change-pass-btn.btn {
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  background: #2762ea;
  color: white;
  display: block;
}
/*  ------- Applicants --- */
.card-info.applicant-info {
  display: block;
  font-size: 14px;
}

.card-info.applicant-info .check {
  margin-bottom: 5px;
  color: black;
}
/**----- Category Design -----*/
.category-location {
  display: flex;
  gap: 20px;
  width: 100%;
  justify-content: space-around;
}
