* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body {
  background-color: #f5f7fb;
  color: #1f2937;
  display: flex;
  min-height: 100vh;
}

/* ------sidebar----- */

.sidebar-div {
  width: 260px;
  background: #ffffff;
  border-right: 1px solid #e5e7eb;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
}
.sidebar-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 20px;
}
.sidebar-logo {
  font-size: 22px;
  font-weight: 700;
  color: #2563eb;
  margin-bottom: 30px;
}
.sidebar-menu-div {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.dash-btn {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 5px;
  border-radius: 8px;
  text-decoration: none;
  color: #374151;
  font-weight: 500;
  transition: 0.2s ease;
}
.dash-btn i {
  width: 18px;
}
.dash-btn a {
  text-decoration: none;
  width: 100%;
  padding: 8px 6px;
  color: #1e1c1c;
  font-size: 15px;
}
.dash-btn span {
  margin-left: 5px;
}
.dash-btn:hover {
  background-color: #eff6ff;
  color: #2563eb;
}
.dash-btn.active {
  background-color: #2563eb;
  color: #ffffff;
}
.logout-div {
  margin-top: auto;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 14px;
  border-radius: 8px;
  color: #ef4444;
  cursor: pointer;
}

/* --- Dashboard ---- */

main {
  padding: 30px;
  margin-left: 260px;
  width: 100%;
}
.dashboard-container {
  margin: auto;
  padding: 20px;
}
.dashboard-header {
  margin-bottom: 30px;
}
.dashboard-header h3 {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 5px;
}
.dashboard-header p {
  font-size: 15px;
  color: #6b7280;
}

section.dashboard-status-div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 20px;
  margin-bottom: 40px;
}
.stat-card {
  font-size: 14px;
  border: 1px solid #c8c8c8;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  color: #6b7280;
  background: white;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.05);
}
.growth {
  font-size: 13px;
  font-weight: 500;
}

.growth.positive {
  color: #16a34a;
}

.stat-card-icon {
  width: 44px;
  height: 44px;
  background-color: #e6effb;
  color: #2563eb;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

/*. Table Tracker.   */

section.dashboard-tracker-div {
  background: white;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.05);
}
.tracker-header {
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tracker-header h4 {
  font-size: 18px;
  font-weight: 600;
}
.tracker-header p {
  font-size: 14px;
  color: #6b7280;
}
table.tracker-table {
  width: 100%;
  border-collapse: collapse;
}

table.tracker-table thead {
  background-color: #f9fafb;
}

table.tracker-table th {
  font-size: 14px;
  padding: 12px;
  text-align: left;
  color: #374151;
}

table.tracker-table td {
  font-size: 14px;
  padding: 14px;
  border: 1px solid #f6f6f6;
}
a.view-jobs-btn {
  color: #2762ea;
  text-decoration: none;
  background: #e8f0fbed;
  padding: 5px 8px;
  border-radius: 20px;
}

/*------Manage Jobs ------*/

section.dashboard-tracker-div {
  background: white;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.05);
}
span.status {
  background: #b8e0b8db;
  padding: 4px 7px;
  color: #19b519;
  font-size: 13px;
  border-radius: 13px;
}
