* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body {
  background-color: #f5f7fb;
  color: #1f2937;
  display: flex;
  min-height: 100vh;
}

/* ------sidebar----- */

.sidebar-div {
  width: 260px;
  background: #ffffff;
  border-right: 1px solid #e5e7eb;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
}
.sidebar-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 20px;
}
.sidebar-logo {
  font-size: 22px;
  font-weight: 700;
  color: #2563eb;
  margin-bottom: 30px;
}
.sidebar-menu-div {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.dash-btn {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 5px;
  border-radius: 8px;
  text-decoration: none;
  color: #374151;
  font-weight: 500;
  transition: 0.2s ease;
}
.dash-btn i {
  width: 18px;
}
.dash-btn a {
  text-decoration: none;
  width: 100%;
  padding: 8px 6px;
  color: #1e1c1c;
  font-size: 15px;
}
.dash-btn span {
  margin-left: 5px;
}
.dash-btn:hover {
  background-color: #eff6ff;
  color: #2563eb;
}
.dash-btn.active {
  background-color: #2563eb;
  color: #ffffff;
}
.logout-div {
  margin-top: auto;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 14px;
  border-radius: 8px;
  color: #ef4444;
  cursor: pointer;
}

/* --- Dashboard ---- */

.dashboard-main {
  position: fixed;
  left: 260px;
  top: 0;
}
.dashboard-container {
  margin: auto;
  padding: 20px;
}
.dashboard-header {
  margin-bottom: 40px;
}
.dashboard-header h3 {
  margin-bottom: 5px;
}
.dashboard-header p {
  font-size: 15px;
  color: #838392;
}
.stat-card {
  width: 25%;
  font-size: 15px;
}
section.dashboard-status-div {
  display: flex;
  justify-content: space-around;
}
