* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 90%;
  margin: auto;
  max-width: 1300px;
}
section {
  padding: 40px 0;
}

/* Nav bar */
.header-container {
  width: 100%;
  margin: auto;
  background-color: white;
  border-bottom: 0.2px solid #c9c9c9;
  align-items: center;
}
nav.nav-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; /* FIX */
  padding: 10px 0;
}

.nav-logo-div {
  width: auto;
}

a.logo-img {
  color: #498aff;
  background-color: white;
  padding: 10px 0 10px 15px;
  border: 1px solid #498aff;
  border-radius: 14px;
  text-decoration: none;
}

a.logo-img span {
  color: white;
  background-color: #498aff;
  padding: 10px 9px;
  border: 1px solid #498aff;
  border-radius: 14px;
  margin-left: 2px;
}

/*----  suggestion
a.logo-img {
    font-size: 1.4rem;
    font-weight: 700;
    border: none;
    padding: 0;
}
a.logo-img span {
    background: none;
    color: #006aff;
}

---*/
.nav-menu-div {
  width: auto;
}

ul.nav-menu {
  display: flex;
  justify-content: center;
  gap: 25px;
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.nav-menu li a {
  text-decoration: none;
  padding: 10px 17px;
  display: inline-block;
  font-weight: 500;
  color: #000000;
}

.nav-btn-div {
  width: auto;
  justify-content: flex-end;
}
.nav-btn-div ul {
  list-style: none;
  display: flex;
}

.nav-btn-div .btn {
  text-decoration: none;
  padding: 6px 15px;
  border: 0.5px solid #498aff;
  border-radius: 8px;
  margin: 0px 5px;
  color: #498aff;
}

/* Welcome Section */

section#welcome-section {
  width: 100%;
  background-color: #006affc9;
}

.welcome-container {
  padding: 45px 10px;
}

.headeline-div {
  align-items: center;
  margin: 20px auto 33px auto;
}
.headeline-div h2 {
  font-size: 60px;
  text-align: center;
  color: white;
  padding: 8px 0px;
}

.headeline-div p {
  text-align: center;
  color: wheat;
  font-size: 27px;
  font-weight: 100;
  padding: 5px 0px;
  margin: 0px auto 20px auto;
}

.headeline-search-div {
  background-color: white;
  border: 1px solid white;
  padding: 10px 0px;
  display: flex;
  justify-content: space-around;
  margin: 15px auto;
  border-radius: 19px;
  width: 60%;
  align-items: center;
  gap: 40px;
}
.headeline-search-div input {
  padding: 5px 0px;
  border: none;
  border-bottom: 1px solid #e5e5e7;
}
a.search-btn.btn {
  text-decoration: none;
  padding: 10px 30px;
  border: 1px solid #498aff;
  border-radius: 9px;
  color: white;
  background-color: #498aff;
  font-size: medium;
}

/*   Common all Section  - Title Div  */

.title-div {
  margin-bottom: 20px;
}
h3.title {
  font-size: 2.75rem;
  text-align: center;
  margin: 0 auto 8px auto;
}
p.short-deescription {
  color: #8591a3;
  font-size: 1.25rem;
  text-align: center;
}
.category-div,
.jobs-div,
.footer-content-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
/*------------------------*/

/* Category Section. */
.category-section {
  border-bottom: 1px solid rgb(209, 209, 209);
  padding: 60px;
}

.category-wrapper {
  width: 200px;
  padding: 20px 5px;
  border: 1px solid #e6e3e3;
  margin: 5px 10px;
}

span.category-icon {
  display: block;
  text-align: center;
  margin-bottom: 10px;
  padding: 1px;
}

span.category-icon i {
  font-size: 30px;
}
h4.category-name {
  font-size: 1.3rem;
  text-align: center;
  padding: 2px;
  margin-bottom: 5px;
}

p.category-jobs {
  text-align: center;
  color: #797979;
}

/*-------- Job -----------*/
.featured-jobs-section {
  background-color: #f8faff;
  padding: 60px 0px;
}

.jobs-wrapper {
  width: 320px;
  margin: 1px;
  border: 1px solid #e9e9e9;
}

.job-content {
  padding: 25px;
  display: flex;
  gap: 15px;
}

.job-btn-div {
  padding: 0px 25px 25px;
  display: flex;
  justify-content: center;
}

a.job-details-btn {
  text-decoration: none;
  color: black;
  border: 1px solid #c7c7c7;
  border-radius: 5px;
  padding: 10px 82px;
}

.job-info {
  padding: 0 10px;
}
.job-type {
  display: inline;
  font-size: 10px;
  border: 1px solid #d0cdcd;
  border-radius: 5px;
  padding: 2px 8px;
  background-color: #fafafa;
  color: #000000;
}

.job-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.job-company-info {
  margin-bottom: 10px;
}

p.company-name {
  color: #666666;
  margin: 10px 0px;
  font-size: 16px;
}

.job-company-info p {
  color: #232121;
  margin-bottom: 6px;
  font-size: 16px;
}

.job-description {
  color: #8391a3;
  font-size: small;
}

/* Footer */
.footer-wrapper {
  width: 250px;
  padding: 15px;
  margin: 0px 10px;
  display: inline-grid;
}

.footer-content-div {
  align-items: center;
}

footer.footer {
  padding: 20px 0px;
  background-color: #c8c8c8;
}

.footer-logo-div {
  width: 120px;
  height: 30px;
  margin-bottom: 7px;
}

.footer-wrapper ul li {
  list-style: none;
  margin-bottom: 8px;
}

h2.footer-title {
  margin-bottom: 10px;
  color: black;
}

.footer-wrapper ul li a {
  text-decoration: none;
  color: #565656;
}
p.footer-copywrite {
  text-align: center;
  padding-top: 20px;
  border-top: 1px solid #a4a4a4;
}

/*. - -- -  - Login -  - */
.user-type-div {
  width: fit-content;
  padding: 5px;
  margin-bottom: 15px;
}

.account-div {
  max-width: 500px;
  width: 100%;
  margin: auto;
  padding: 30px 10px;
  align-items: center;
}

.account-header {
  margin-bottom: 20px;
  padding: 5px;
  text-align: center;
}

.account-header h2.logo-account {
  margin-bottom: 6px;
  color: #2563eb;
  font-size: 34px;
}

.account-header p {
  color: #6b7280;
  font-size: 18px;
}

.account-content {
  padding: 20px 25px 15px;
  border-radius: 10px;
  border: 1px solid #cac9c9;
}
h3.account-title {
  font-size: 25px;
  margin-bottom: 5px;
  color: #2563eb;
}

p.sub-title {
  font-size: 15px;
  color: #6c7180;
}

.account-head {
  margin-bottom: 15px;
}

.user-type-div {
  border: 1px solid black;
  border-radius: 7px;
  padding: 4px 20px;
  justify-content: space-around;
  display: flex;
  width: auto;
  background-color: #f9fafb;
}
button.type-btn {
  padding: 9px 40px;
  border: none;
  color: black;
  background-color: #f9fafb;
}

.account-user-info {
  margin: 10px 0;
}

.info-box {
  padding: 2px;
  margin-bottom: 10px;
}

label.account-labels {
  display: block;
  margin-bottom: 3px;
  font-size: 19px;
}
input.input {
  padding: 10px 12px;
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
  font-size: 16px;
  transition: 0.2s;
}

.show-forget-btn {
  display: flex;
  justify-content: space-between;
  margin: 8px auto 25px;
}

a.forget-pass-btn {
  text-decoration: none;
  color: #4a4af9;
}

button.job-seeker-account {
  width: 100%;
  display: block;
  margin: auto;
  padding: 10px;
  font-size: 16px;
  color: white;
  background-color: #4949ffbd;
  border: none;
  border-radius: 8px;
  margin-bottom: 18px;
}

.goole-div {
  text-align: center;
  margin: 15px auto;
}
.goole-div .divider {
  display: block;
  margin-bottom: 10px;
  font-weight: 500;
  color: #5f6368;
}

.google-account {
  align-items: center;
  padding: 6px 15px;
  background: #ffffff;
  border: 1px solid #afafaf;
  text-decoration: none;
  border-radius: 4px;
  color: #3c4043;
  font-size: 15px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  gap: 12px;
}
.google-svg {
  width: 20px;
  height: 20px;
}

.account-user-info p {
  text-align: center;
  padding: 2px;
}
.register-here {
  text-decoration: none;
  margin-left: 3px;
  color: #4a4af9;
}

/*.   Jov Details.    */
.job-details-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 30px;
  margin: 25px 0;
}
.job-details {
  width: 70%;
  padding: 15px;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
}
.job-action {
  width: 30%;
  padding: 20px 15px;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
}
.job-header {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 20px;
}
.company-logo img {
  width: 60px;
  height: 60px;
  object-fit: contain;
}

.job-title-box {
  display: block;
}

.job-action a.action-btn {
  text-decoration: none;
  padding: 8px 15px;
  border: 1px solid #cfcfcf;
  border-radius: 5px;
  font-size: 13px;
  text-align: center;
  width: 100%;
  display: block;
  margin-bottom: 6px;
}
.job-action a.apply-btn.action-btn {
  background: #2a68ef;
  color: white;
}

.job-action a.details-btn.action-btn {
  background: whitesmoke;
  color: black;
}
.job-action-btn {
  margin-bottom: 20px;
}
.job-section {
  margin-top: 20px;
}

h3.job-subtitle {
  margin-bottom: 10px;
}

.job-section p {
  color: #565656;
}

.job-section ul li {
  margin-bottom: 10px;
  color: #565656;
}

.job-section ul {
  padding: 5px 5px 5px 30px;
}

/*.         JOB          */
.jobs-layout {
  display: flex;
  gap: 30px;
  align-items: flex-start;
}
.jobs-filters {
  width: 260px;
  border: 1px solid #e5e7eb;
  padding: 20px;
  border-radius: 10px;
  margin: 40px 0;
  position: relative;
  left: auto;
}

.filter-btn {
  display: block;
  padding: 5px;
  width: 100%;
  border: 1px solid #e5e6ea;
  border-radius: 6px;
  background: #ffffff;
  margin-bottom: 5px;
}
.clear-filter {
  text-decoration: none;
  text-align: center;
  color: black;
}
.jobs-list {
  flex: 1;
}
.jobs-header {
  margin-bottom: 20px;
}
.job-card {
  padding: 20px;
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  margin-bottom: 20px;
  background: #fff;
}
.job-card-left {
  display: flex;
  gap: 15px;
}
.job-icon {
  width: 50px;
  height: 50px;
  background: #eef2ff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.job-badge {
  padding: 5px 10px;
  font-size: 10px;
  border-radius: 20px;
  background: #edf2ff;
  position: absolute;
  right: 0;
  top: 5px;
}

h4.filter-title {
  margin-bottom: 20px;
  font-size: 24px;
}
.filter-group {
  padding: 5px 0px;
  margin-bottom: 14px;
}
.filter-group h5 {
  margin-bottom: 10px;
  border-bottom: 1px solid #e5e6ea;
  padding: 3px 5px;
}
.filter-group label {
  font-size: 14px;
  display: block;
  margin-bottom: 5px;
}
input[type="number"] {
  margin-bottom: 5px;
  border: 1px solid #d2d2d2;
  padding: 4px 5px;
  border-radius: 4px;
}
.job-meta {
  display: flex;
  gap: 25px;
  margin-bottom: 10px;
  font-size: 14px;
}
.action-btn {
  text-decoration: none;
  padding: 10px 16px;
  font-size: 13px;
  border: 1px solid #e7e7e7;
  border-radius: 8px;
  margin-bottom: 5px;
  text-align: center;
  width: 100%;
}
.action-btn.view-btn {
  background: #498aff;
  color: white;
}
.action-btn.save-btn {
  background: rgb(255, 255, 255);
  color: #498aff;
}
.job-card-content {
  display: flex;
  justify-content: space-around;
  position: relative;
  margin-bottom: 15px;
}
.job-right-card {
  display: flex;
  flex-direction: column;
  flex: 0 0 160px;
}
.jobs-header .title {
  margin-bottom: 6px;
}

.jobs-header .subtitle {
  color: #8391a2;
  font-size: 18px;
}

.filter-group label {
  align-items: center;
  padding: 2px;
  height: 20px;
}

.filter-group input {
  margin-right: 4px;
}
.job-card-footer {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}
